<!DOCTYPE html>
<html>
   <head>
      <title>Hopeye @ Intel 2017</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
   </head>
   <body>
     <img src="{{ url_for('camera_stream_left') }}">
     <!-- img src="{{ url_for('camera_stream_right') }}" -->
     <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
     <script src="https://code.jquery.com/jquery.js"></script><html>
  </body>
</html>
